body{
    background-image:linear-gradient(to right, #DDEFBB, #FFEEEE);
    max-width: 100%;
    overflow-x: hidden;
}

header{

    height: 60px;
}

#container{
    
    background-color: white;  
    padding: 1%;
   
}

table{

    margin:0 auto;
}

table, th, td{
    border: 5px solid;
}

footer p{

    color: black;
    font-size:x-small;
}

@media only screen and (min-width: 768px) {

    header{

        height: 130px;
    }

}

@media only screen and (min-width: 1280px) {

    header{

        height: 220px;
    }

    table{

        width: 90%;
    }
    
}